h1 {
  margin: 0px;
  font-size: 22px;
}

#main {
  position: relative;
  top: 50px;
}

#board {
  border: 1px solid #000;
}

#word, #canvas, #chat {
  border: 1px solid #000;
  width: 100%;
}

#canvas {
  height: 400px;
}

#chat {
  position: relative;
}

#chat form {
  
}
