#main {
  width: 500px;
  height: 500px;
}

#board {
  border: 1px solid #000;
}

#chat {
  width: 300px;
  height: 500px;
  border: 1px solid #000;
  position: relative;
}

#chat form {
  position: absolute;
  bottom: 0px;
}
